@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/typography";

body {
  margin: 0;
  font-family: "Avenir", "Roboto", sans-serif;
  color: #323232;
}

//header styling

.header {
  width: 100%;
  margin: 0;
  height: 169px;
  padding: 0 5%;
  box-sizing: border-box;

  @include tablet {
    padding: 0 3.125%;
    display: flex;
    align-items: center;
    height: 80px;
  }

  @include desktop {
    padding: 0 15%;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__search {
    width: 288px;
    height: 48px;
    margin-bottom: 8px;
    box-sizing: border-box;

    @include tablet {
      margin: 0;
      width: 225px;
    }

    &-container {
      width: 288px;
      margin: 0 auto;
    }
  }

  &__user {
    display: flex;
    justify-content: center;

    &-button {
      @include button-design;
      box-sizing: border-box;
      height: 48px;
      width: 224px;
      margin: 0 16px 16px 0;

      &:hover {
        background-color: #0065ad;
      }

      @include tablet {
        margin: 0 24px;
        width: 110px;
      }
    }

    &-picture {
      width: 48px;
      height: 48px;
      border-radius: 25px;
      object-fit: cover;
      object-position: 0% 0;
    }
  }
}

//main styling
.main {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-flow: row wrap;
  }
}

//video styling
.video {
  width: 100%;
  margin: 0;

  &__video {
    width: 100%;
    height: 100%;

    &-container {
      margin-bottom: 32px;
      height: calc(9 / 16 * 100vw);
    }
  }
}

//player styling

.player {
  margin: 0;

  @include desktop {
    flex-direction: column;
    width: 70%;
  }

  &__video-reading-container {
    @include desktop {
      display: flex;
      width: 100%;

      &-left {
        @include desktop {
          width: 65.9259%;
          padding-right: 1.6667%;
        }
      }
    }
  }

  &__video-text-container {
    padding: 0 5%;

    @include tablet {
      padding: 0 3.125%;
    }

    @include desktop {
      padding: 0 15%;
    }
  }

  &__video-title {
    font-weight: 700;
  }

  &__video-publish {
    display: flex;
    margin-bottom: 32px;
  }

  &__video-author {
    padding-right: 2.5%;
    margin: 0;
  }

  &__video-date {
    margin: 0;
  }

  &__video-social {
    display: flex;
    margin-bottom: 24px;
  }

  &__video-views {
    padding-right: 24px;
    margin: 0;

    &-img {
      padding-right: 2.5%;
      margin: 0;
    }
  }

  &__video-likes {
    margin: 0;

    &-img {
      padding-right: 2.5%;
    }
  }

  &__video-body {
    border-top: 1px solid #e1e1e1;
    padding-top: 24px;
    margin: 0 0 40px;
  }
}

//conversation styling

.conversation {
  padding: 0 5%;

  @include tablet {
    padding: 0 3.125%;
  }

  @include desktop {
    padding: 0 12.5%;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__container {
    display: flex;
    margin: 0 auto;

    // @include tablet {
    //   max-width: 560px;
    // }
  }

  &__profile-image {
    width: 48px;
    height: 48px;
    border-radius: 25px;
    margin-top: 20px;
    object-fit: cover;
    object-position: 0% 0;

    @include tablet {
      margin-top: 28px;
    }

    &-container {
      width: 56px;

      @include tablet {
        width: 68px;
      }
    }
  }
  &__input-container {
    flex-basis: auto;
    flex-grow: 1;
  }

  &__form {
    width: 100%;
  }

  &__input-label {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    display: block;

    @include tablet {
      padding-bottom: 8px;
    }
  }

  &__input-comment-field {
    height: 96px;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: $nuetral-color;
    font-family: "Avenir";
    padding-left: 16px;
    padding-top: 16px;
    border: 1px solid $nuetral-background;
    width: 100%;

    &:active {
      border: 1px solid $primary-color;
    }
  }

  &__button {
    @include button-design;
    height: 48px;
    margin-bottom: 32px;
    width: 232px;

    &:hover {
      background-color: #0065ad;
    }

    @include tablet {
      max-width: 160px;
    }

    &-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

//comments styling

.comments {
  padding: 0 5%;
  font-size: 0.875rem;
  line-height: 1.375rem;

  &__history {
    display: flex;
    border-bottom: 1px solid $nuetral-background;
    padding-bottom: 24px;
    padding-top: 24px;
    // max-width: 560px;
    // margin: 0 auto;

    &:first-of-type {
      border-top: 1px solid $nuetral-background;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }

    &-profile {
      width: 40px;
      height: 40px;
      border-radius: 25px;

      &-container {
        flex-basis: 56px;
      }
    }

    &-text-container {
      flex-basis: 1%;
      flex-grow: 1;
    }

    &-header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      @include tablet {
        justify-content: flex-start;
      }
    }

    &-name {
      margin-top: 0;
      font-weight: 500;

      @include tablet {
        padding-right: 12px;
      }
    }

    &-date {
      margin-top: 0;
      color: $nuetral-font;
    }

    &-body {
      padding: 0;
      margin: 0;
    }
  }
}

.player__video-text-container-left {
  @include desktop {
    width: 75%;
  }
}

.container-right {
  @include desktop {
    flex-basis: 1%;
    flex-grow: 1;
  }
}

.next {
  padding: 0 5%;

  @include tablet {
    padding: 0 3.125%;
  }

  @include desktop {
    padding: 0 12.5%;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__video-container {
    display: flex;
    margin-bottom: 24px;
  }

  &__video-picture {
    width: 120px;
    height: 70px;
  }

  &__video-content-title {
    margin-bottom: 16px;
    font-weight: 500;
  }
}
