@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/alternative-files/Linotype - Avenir Next LT Pro Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/alternative-files/Linotype - Avenir Next LT Pro Demi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h5 {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375;
  }
}

a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

body {
  margin: 0;
  font-family: "Avenir", "Roboto", sans-serif;
  color: #323232;
}

.header {
  width: 100%;
  margin: 0;
  height: 169px;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 3.125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0 15%;
  }
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__logo-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header__search {
  width: 288px;
  height: 48px;
  margin-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header__search {
    margin: 0;
    width: 225px;
  }
}

.header__search-container {
  width: 288px;
  margin: 0 auto;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__user-button {
  background-color: #0095ff;
  color: white;
  font-family: "Avenir";
  font-weight: 500;
  border-radius: 4px;
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  box-sizing: border-box;
  height: 48px;
  width: 224px;
  margin: 0 16px 16px 0;
}

.header__user-button:hover {
  background-color: #0065ad;
}

@media screen and (min-width: 768px) {
  .header__user-button {
    margin: 0 24px;
    width: 110px;
  }
}

.header__user-picture {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0;
     object-position: 0% 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.video {
  width: 100%;
  margin: 0;
}

.video__video {
  width: 100%;
  height: 100%;
}

.video__video-container {
  margin-bottom: 32px;
  height: calc(9 / 16 * 100vw);
}

.player {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .player__video-reading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .player__video-reading-container-left {
    width: 65.9259%;
    padding-right: 1.6667%;
  }
}

.player__video-text-container {
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .player__video-text-container {
    padding: 0 3.125%;
  }
}

@media screen and (min-width: 1200px) {
  .player__video-text-container {
    padding: 0 15%;
  }
}

.player__video-title {
  font-weight: 700;
}

.player__video-publish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.player__video-author {
  padding-right: 2.5%;
  margin: 0;
}

.player__video-date {
  margin: 0;
}

.player__video-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.player__video-views {
  padding-right: 24px;
  margin: 0;
}

.player__video-views-img {
  padding-right: 2.5%;
  margin: 0;
}

.player__video-likes {
  margin: 0;
}

.player__video-likes-img {
  padding-right: 2.5%;
}

.player__video-body {
  border-top: 1px solid #e1e1e1;
  padding-top: 24px;
  margin: 0 0 40px;
}

.conversation {
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .conversation {
    padding: 0 3.125%;
  }
}

@media screen and (min-width: 1200px) {
  .conversation {
    padding: 0 12.5%;
  }
}

.conversation__title {
  margin-bottom: 32px;
}

.conversation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.conversation__profile-image {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0;
     object-position: 0% 0;
}

@media screen and (min-width: 768px) {
  .conversation__profile-image {
    margin-top: 28px;
  }
}

.conversation__profile-image-container {
  width: 56px;
}

@media screen and (min-width: 768px) {
  .conversation__profile-image-container {
    width: 68px;
  }
}

.conversation__input-container {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.conversation__form {
  width: 100%;
}

.conversation__input-label {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: block;
}

@media screen and (min-width: 768px) {
  .conversation__input-label {
    padding-bottom: 8px;
  }
}

.conversation__input-comment-field {
  height: 96px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 16px;
  background-color: #fafafa;
  font-family: "Avenir";
  padding-left: 16px;
  padding-top: 16px;
  border: 1px solid #e1e1e1;
  width: 100%;
}

.conversation__input-comment-field:active {
  border: 1px solid #0095ff;
}

.conversation__button {
  background-color: #0095ff;
  color: white;
  font-family: "Avenir";
  font-weight: 500;
  border-radius: 4px;
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  height: 48px;
  margin-bottom: 32px;
  width: 232px;
}

.conversation__button:hover {
  background-color: #0065ad;
}

@media screen and (min-width: 768px) {
  .conversation__button {
    max-width: 160px;
  }
}

.conversation__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comments {
  padding: 0 5%;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.comments__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
  padding-top: 24px;
}

.comments__history:first-of-type {
  border-top: 1px solid #e1e1e1;
}

.comments__history:last-of-type {
  margin-bottom: 40px;
}

.comments__history-profile {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.comments__history-profile-container {
  -ms-flex-preferred-size: 56px;
      flex-basis: 56px;
}

.comments__history-text-container {
  -ms-flex-preferred-size: 1%;
      flex-basis: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.comments__history-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .comments__history-header-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.comments__history-name {
  margin-top: 0;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .comments__history-name {
    padding-right: 12px;
  }
}

.comments__history-date {
  margin-top: 0;
  color: #afafaf;
}

.comments__history-body {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .player__video-text-container-left {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .container-right {
    -ms-flex-preferred-size: 1%;
        flex-basis: 1%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.next {
  padding: 0 5%;
}

@media screen and (min-width: 768px) {
  .next {
    padding: 0 3.125%;
  }
}

@media screen and (min-width: 1200px) {
  .next {
    padding: 0 12.5%;
  }
}

.next__title {
  margin-bottom: 40px;
}

.next__video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.next__video-picture {
  width: 120px;
  height: 70px;
}

.next__video-content-title {
  margin-bottom: 16px;
  font-weight: 500;
}
/*# sourceMappingURL=styles.css.map */