$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;

$nav-link: #afafaf;
$nav-link-active: white;

$global-font: #323232;
$secondary-font: white;
$nuetral-font: #afafaf;

$primary-color: #0095ff;
$secondary-color: white;
$nuetral-color: #fafafa;
$nuetral-background: #e1e1e1;
$hover-color: #0065ad;
