@import "../../styles/styles.scss";

.next {
  padding: 0 5%;

  @include tablet {
    padding: 0 3.125%;
  }

  @include desktop {
    padding: 0 12.5%;
  }

  &__title {
    margin: 40px 0;
  }

  &__video-container {
    display: flex;
    margin-bottom: 24px;
  }

  &__video-picture {
    width: 120px;
    height: 70px;
  }

  &__video-content-title {
    margin-bottom: 16px;
    font-weight: 500;
  }
}
